// SASSY VARIABLES
// 
// ---------------------------------------------------------------------------





// TYPOGRAPHY
// ---------------------------------------------------------------------------
	// INIT
	$full-screen-responsive: true;

	// UPPER/LOWER LIMITS
	// SCREENS (mobile first)
	$lower-limit-screen: 500px;
	$middle-limit-screen: 720px;
	$upper-limit-screen: 960px;
	// DESKTOPS (large format monitors)
	$lower-limit-desktop: 1280px;
	// HEADER
	$lower-limit-header: 50px;
	$upper-limit-header: 100px;
	// FONTS
	$lower-limit-font: 15px;
	$upper-limit-font: 20px;

	$em-root: 10px;
	$font-root: percentage($em-root / 16px); // assuming font-size: 100% equates to 16px => 62.5%
	$modular-scale-ratio: 1.2;
	$vertical-measure: $modular-scale-ratio * 1rem;

	// FONTS
	$base-font-family: 'akzg-light', Helvetica, sans-serif;
	$base-font-headers: 'akzg-light', Helvetica, sans-serif;
	$base-font-mono: Consolas, "Courier New", Courier, monospace;

	// BLOCK OPTIONS
	$paragraph-indent: true;
	$paragraph-justify: false;





// GRID
// ---------------------------------------------------------------------------
	$grid-max-width:		$upper-limit-screen;		// set page max-width
	$grid-column-width:		percentage(100/6);			// set column width
	$grid-gutter-width:		0%;							// set gutter width
	$grid-max-columns:		12;							// set max number of columns

	// CUSTOM PAGE GRID VARS
	// nav width
	$nW: 60px;
	// page width
	$gW: calc(100vw - #{$nW} - #{$vertical-measure}); // full screen Width - Width of navigation
	// page height
	$gH: 100vh;





// COLORS
// ---------------------------------------------------------------------------
	// palette
	$color-primary:		#2C4260 !default; // blue
	$color-secondary:	#8F5500 !default; // brown
	$color-shadow:		#3d3d3d !default; // dark grey
	$color-highlight:	#8d8d8d !default; // light grey

	// states
	$color-success:		$green !default;
	$color-info:		$blue !default;
	$color-warning:		$yellow !default;
	$color-error:		$orange !default;

	// brand colors
	$color-success:		$green !default;
	$color-info:		$blue !default;
	$color-warning:		$yellow !default;
	$color-error:		$orange !default;

	// lightness value that determines when the lightness of color changes
	// from "dark" to "light". Acceptable values are between 0 and 255.
	$color-contrasted-threshold: 150 !default;

	// customize the light and dark text colors for use in color contrast function.
	$color-contrast-text-dark: $black50 !default;
	$color-contrast-text-light: $white !default;





// ELEMENTS
// ---------------------------------------------------------------------------
	// borders
	$border-width-default: 1px;
	$border-style-default: solid;
	$border-color-default: $black30;
	$border-radius-default: 4px;





// FORMS
// ---------------------------------------------------------------------------
	// label
	$form-label-font-weight: 400;

	// input
	$form-input-color: $black;
	$form-input-background-color: $transparent;
	$form-input-box-shadow: 0px 0px 5px -2px $color-primary;

	// input border
	$form-input-border-width: 1px;
	$form-input-border-color: $gray-light;
	$form-input-border: $form-input-border-width solid $form-input-border-color;
	$form-input-border-radius: 0px;

	// disabled
	$form-input-disabled-color: $black10;

	// input focus
	$form-input-focus-color: $black;
	$form-input-focus-background: $transparent;
	$form-input-focus-border-color: $color-primary;
	$form-input-focus-box-shadow: 0px 0px 5px -2px $color-primary;





// TABLES
// ---------------------------------------------------------------------------
	$table-row-bordered: true !default;
	$table-row-striped: false !default;





// BUTTONS
// ---------------------------------------------------------------------------
	// base
	$btn-font-size: inheret;
	$btn-font-weight: 400;
	$btn-border-radius: 2px;
	$btn-border-width: 2px;
	$btn-border-style: solid;
	$btn-border-color: $black;
	$btn-link-disabled-color: $gray-silver;

	// default
	$btn-default-color: $white;
	$btn-default-background: $black;
	// border
	$btn-default-border-width: $btn-border-width;
	$btn-default-border-style: $btn-border-style;
	$btn-default-border-color: $black;
		// :hover
		$btn-default-color-hover: $white;
		$btn-default-background-hover: $black70;
		// :hover border
		$btn-default-border-width-hover: $btn-border-width;
		$btn-default-border-style-hover: $btn-border-style;
		$btn-default-border-color-hover: $black;

	// primary
	$btn-primary-color: $white;
	$btn-primary-background: $color-primary;
	// border
	$btn-primary-border-width: $btn-border-width;
	$btn-primary-border-style: $btn-border-style;
	$btn-primary-border-color: $color-primary;
		// :hover
		$btn-primary-color-hover: $white;
		$btn-primary-background-hover: lighten($color-primary, 10%);
		// :hover border
		$btn-primary-border-width-hover: $btn-border-width;
		$btn-primary-border-style-hover: $btn-border-style;
		$btn-primary-border-color-hover: $color-primary;

	// secondary
	$btn-secondary-color: $white;
	$btn-secondary-background: $color-secondary;
	// border
	$btn-secondary-border-width: $btn-border-width;
	$btn-secondary-border-style: $btn-border-style;
	$btn-secondary-border-color: $color-secondary;
		// :hover
		$btn-secondary-color-hover: $white;
		$btn-secondary-background-hover: lighten($color-secondary, 10%);
		// :hover border
		$btn-secondary-border-width-hover: $btn-border-width;
		$btn-secondary-border-style-hover: $btn-border-style;
		$btn-secondary-border-color-hover: $color-secondary;

	// tertiary
	$btn-tertiary-color: $white;
	$btn-tertiary-background: $color-shadow;
	// border
	$btn-tertiary-border-width: $btn-border-width;
	$btn-tertiary-border-style: $btn-border-style;
	$btn-tertiary-border-color: $color-shadow;
		// :hover
		$btn-tertiary-color-hover: $white;
		$btn-tertiary-background-hover: lighten($color-shadow, 10%);
		// :hover border
		$btn-tertiary-border-width-hover: $btn-border-width;
		$btn-tertiary-border-style-hover: $btn-border-style;
		$btn-tertiary-border-color-hover: $color-shadow;

	// success
	$btn-success-color: $white;
	$btn-success-background: $color-success;
	// border
	$btn-success-border-width: $btn-border-width;
	$btn-success-border-style: $btn-border-style;
	$btn-success-border-color: $color-success;
		// :hover
		$btn-success-color-hover: $white;
		$btn-success-background-hover: lighten($color-success, 10%);
		// :hover border
		$btn-success-border-width-hover: $btn-border-width;
		$btn-success-border-style-hover: $btn-border-style;
		$btn-success-border-color-hover: $color-success;

	// info
	$btn-info-color: $white;
	$btn-info-background: $color-info;
	// border
	$btn-info-border-width: $btn-border-width;
	$btn-info-border-style: $btn-border-style;
	$btn-info-border-color: $color-info;
		// :hover
		$btn-info-color-hover: $white;
		$btn-info-background-hover: lighten($color-info, 10%);
		// :hover border
		$btn-info-border-width-hover: $btn-border-width;
		$btn-info-border-style-hover: $btn-border-style;
		$btn-info-border-color-hover: $color-info;

	// warning
	$btn-warning-color: $white;
	$btn-warning-background: $color-warning;
	// border
	$btn-warning-border-width: $btn-border-width;
	$btn-warning-border-style: $btn-border-style;
	$btn-warning-border-color: $color-warning;
		// :hover
		$btn-warning-color-hover: $white;
		$btn-warning-background-hover: lighten($color-warning, 10%);
		// :hover border
		$btn-warning-border-width-hover: $btn-border-width;
		$btn-warning-border-style-hover: $btn-border-style;
		$btn-warning-border-color-hover: $color-warning;

	// error
	$btn-error-color: $white;
	$btn-error-background: $color-error;
	// border
	$btn-error-border-width: $btn-border-width;
	$btn-error-border-style: $btn-border-style;
	$btn-error-border-color: $color-error;
		// :hover
		$btn-error-color-hover: $white;
		$btn-error-background-hover: lighten($color-error, 10%);
		// :hover border
		$btn-error-border-width-hover: $btn-border-width;
		$btn-error-border-style-hover: $btn-border-style;
		$btn-error-border-color-hover: $color-error;
